@using OnChrome.Core.Models.Enums
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";

    var appClass = Model.CompatibilityStatus.IsAppOk() && Model.NativeMessagingState == RegistrationState.Registered 
        ? "has-text-success"
        : "has-text-danger";
    var extClass = Model.CompatibilityStatus.IsExtensionOk() ? "has-text-success" : "has-text-danger";
}

@section Scripts
{
    <script type="text/javascript">
        var clean = location.pathname;
        history.replaceState({}, document.title, clean);
    </script>
}

<div class="columns is-flex is-vcentered is-centered cont mt-0">
    <div class="box" style="max-width: 600px;">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <div class="columns mb-0">
                        <div class="column is-narrow pr-1">
                            <img src="/logo.svg" style="height: 40px;"/>
                        </div>
                        <div class="column pl-1">
                            <h1 class="title">
                                OnChrome
                            </h1>
                        </div>
                    </div>
                    <p>Making OnChrome run takes two parts: an application and a Firefox extension.</p>
                    <p class="@appClass">
                        <b>Application:</b>
                        @if (Model.NativeMessagingState != RegistrationState.Registered)
                        {
                            <span>@Model.NativeMessagingState. <a asp-controller="Home" asp-action="Register">Register</a></span>
                        }
                        else
                        {
                            <span>@Model.CompatibilityStatus.GetAppDetails()</span>
                            @if (!Model.CompatibilityStatus.IsAppOk())
                            {
                                <span>Download the latest version from <a href="https://onchro.me/native-applications">the website</a>.</span>
                            }
                        }
                    </p>
                    <p class="@extClass">
                        <b>Extension:</b> @Model.CompatibilityStatus.GetExtensionDetails()
                        @if (!Model.CompatibilityStatus.IsExtensionOk())
                        {
                            <span>Download the latest version from <a href="https://addons.mozilla.org/en-US/firefox/addon/onchrome/">the Firefox store</a>.</span> 
                        }
                    </p>
                    @if (Model.CompatibilityStatus.IsAppOk() && Model.CompatibilityStatus.IsExtensionOk() && Model.NativeMessagingState == RegistrationState.Registered)
                    {
                        <div class="">
                            <p class="has-text-weight-bold">
                                Everything should be good :) Enjoy OnChrome!
                            </p>
                        </div>
                    }
                </div>
            </div>
        </article>
    </div>
</div>
